version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/bambigo-web"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
